header{
  background-color:rgba(95, 177, 176, 0.858);
  text-align: center;
  padding-top: 10px;
  color:white;
  font-weight: bold;
  font-size: 60px;
  height: inherit;
  padding-top: 140px;
  background-image: url('../images/heading.jpg');
}

.item1{
  text-align:center;
}

.item3{
    float:right;
    text-align: right;
}
p{
font-size:15px;
}

footer{
   background-image: linear-gradient(black, gray);
text-align: center;
  font-size: 17px;
  height: inherit;
      border-radius: 25px;
}
h2{
      text-align: left;
    color:white;
    padding:14px;
}

p.contact{
    
    text-align:left;
}

a{
    
}

#left{
    text-align:left;
}

#text{
    color:black;
    text-align:right;
}

  .button{
                 background-color: black;
    border: none;
  color: white;
  padding: 15px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin:0;
      position:absolute;
  cursor: pointer;
        top: 110%;
  left: 60%;
                 
            }




        
 
            
            


.chunks-container2 {
  display: grid;
  grid-template:
  'myPlace myPlace . . . '
  'myPlace myPlace . . . '
  'myPlace myPlace . . .';
  grid-gap: 20px;
  background-color:white;
  padding: 20px;
  padding-bottom: 3px;
      border-radius: 25px;
}

.chunks-container {
  display: grid;
  grid-template:
  'myPlace myPlace . . . '
  'myPlace myPlace . . . '
  'myPlace myPlace . . .';
  grid-gap: 20px;
  background-color:white;
  padding: 20px;
  padding-bottom: 3px;
      border-radius: 25px;
}




.chunks-container > div {

text-align: center;
padding: 20px 0;
font-size: 30px;
  width:100%;
  font-size: 15px;
    

}

body{
    
    background-color:white;
}


.navbar {
  overflow: hidden;
  background-color: #333;
   
}
h1{
    text-align: center;
    color:white;
}

p{
    color:white;
}

p2{
    color:black;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
      width: 33%;
}



.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
body{
    background: url(../food6.jpg) 
}
 

